body {
    background-color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    text-align: center; 
}
h2 p {
    background-color: white
}
h1 {
    background-color: orange; text-align: center;
}
p{
    text-align: center;
}
.ajs {
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing:40px;}
  
  
  caption {caption-side:bottom;}