body {
    background-size: cover;
  background-repeat:no-repeat;
  }

p {
    text-align: center;
}

.ajs {
    text-align: center;
}
table {
   border: 1000px;
    border: 60px; 
    border: 70px;
    caption-side: bottom;
    border-color: black;
    text-align: center;
    background-color: #FDF5CA;
}
#botonsubida{
    text-align: center;
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
} 
   
nav li{
    display:inline-block;
    width:23%;
    padding:14px 60px;
    background-color: #ffdede;
    border:1px solid;
    text-align:center;
    color:black;
    }
    
nav li:hover{
    background-color:pink;
    }

    #insta{
        text-align: center;
        
        background-color:#FFDFAF ;
    }

#footer {
    max-width: 10000px;
    background: #f2bb7b;
    margin: auto;
    border-radius: 0 0 20px;
    color: black;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    font-family: arial;
    font: size 20px;
        }
  header {
    width: 120%;
    position: fixed;
    z-index: 100;
  }


  * {
    padding: 0;
    margin: 0;
  }

  nav {
    float: center; 
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  
  nav ul li a {
    display: block;
    padding: 0px;
    color: black;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background: rgb(255, 204, 204);
  }


  .btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    float: left;
      }

.div5{
  background-color: #FDF5CA;
}
.div6 {
  background-color: #FFDFAF;
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 3 / 1 / 4 / 2; }
  .div4 { grid-area: 4 / 1 / 5 / 2; }